* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  /* background: hsla(172, 85%, 74%, 1); */

  /* background: linear-gradient(
    45deg,
    hsla(172, 85%, 74%, 1) 0%,
    hsla(225, 60%, 67%, 1) 42%,
    hsla(319, 74%, 64%, 1) 100%
  );
  background: -moz-linear-gradient(
    45deg,
    hsla(172, 85%, 74%, 1) 0%,
    hsla(225, 60%, 67%, 1) 42%,
    hsla(319, 74%, 64%, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    hsla(172, 85%, 74%, 1) 0%,
    hsla(225, 60%, 67%, 1) 42%,
    hsla(319, 74%, 64%, 1) 100%
  ); */
}

a {
  text-decoration: inherit;
  color: inherit;
}

.app {
  min-height: 98.5vh;
  margin: 5px;
  padding: 5px;
}
